.home{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10vw;
}
.home h1{
    margin-left: 0;
    width:60rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 1rem;
    letter-spacing: 7px;
    font-weight: 300;

}
.home h2{
    margin-left: 0;
    font-size: 7rem;
    width:60rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.5rem;
    letter-spacing: 10px;
    font-weight: 300;
}
