.home{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10vw;
}
.home h1{
    margin-left: 0;
    width:60rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 1rem;
    letter-spacing: 7px;
    font-weight: 300;
    text-shadow: 1px 1px 7px rgb(141, 187, 230);

}
.home h2{
    margin-left: 0;
    font-size: 7rem;
    width:60rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.5rem;
    letter-spacing: 10px;
    font-weight: 300;
    text-shadow: 1px 1px 7px rgb(141, 187, 230);
}
@media only screen and (max-width: 1300px) {
    .home h1{
        width:40rem;
        font-size: 2rem;
    }
    .home h2{
        font-size: 4.5rem;
        width:40rem;
    }
  }
  @media only screen and (max-width: 850px) , screen and (max-height: 550px) {
    .home h1{
        width:30rem;
        font-size: 1.5rem;
    }
    .home h2{
        font-size: 3rem;
        width:30rem;
    }
  }
  @media only screen and (max-width: 650px), screen and (max-height: 400px) {
    .home h1{
        width:25rem;
        font-size: 1.2rem;
    }
    .home h2{
        font-size: 2.4rem;
        width:25rem;
    }
  }
  @media only screen and (max-width: 550px), screen and (max-height: 400px) {
    .home h1{
        width:15rem;
        font-size: 1.0rem;
    }
    .home h2{
        font-size: 2.0rem;
        width:15rem;
    }
  }
